$main-body-pomo: #d95550;
$main-bg-pomo: #dd6662;
$main-add-pomo: #c74e49;
$main-body-short: #4c9195;
$main-bg-short: #6ca5a8;
$main-add-short: #468589;
$main-body-long: #457ca3;
$main-bg-long: #6794b4;
$main-add-short: #3f7296;
$main-color: $main-body-pomo;
$main-bg-color: $main-bg-pomo;
$main-add-color: $main-add-pomo;